[Unit]
Description=postfixprotect
After=network.target


[Service]
Type=simple
ExecStart=/usr/local/postfixprotect/postfixprotect -sendmailprotect -greylisting
WorkingDirectory=/usr/local/postfixprotect
User=postfix
Group=postfix
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

