[Unit]
Description=postfixprotect
After=network.target


[Service]
Type=simple
ExecStart=/root/postfixprotect/postfixprotect
WorkingDirectory=/root/postfixprotect
User=root
Group=root
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

